<div class="container">
<%= link_to new_tdl_path , :class => "navbar-btn btn btn-primary btn-sm" do %>
<i class "fa fa-plis fa-sm"></i>New
<% end %>
<table class="table"> 
  <thead>
    <tr>
      <th> todo </th>
      <th> isdone </th>
    </tr>
  </thead>

  <tbody>
    <% @tdls.each do |tdl| %>
    <tr> 
      <td style="word-break: break-all;"><%= tdl.todo %> </td>
      <td> <%= tdl.isdone %> </td>
      <td> <%= link_to 'Edit', edit_tdl_path(tdl) %>
      <td> <%= link_to 'Delete', tdl_path(tdl) , :method => :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
